.product-slider {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-swiper-image {
  position: relative;
  img {
    width: 350px;
    @media (max-width: 400px) {
      padding: 0 20px;
      width: 100%;
    }
  }
}

.product-swiper-controls {
  svg {
    cursor: pointer;
  }
}
