.auth-modal-opened {
  overflow: hidden;
}

.default-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 300ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  .shoppingCart-modal {
    .cart {
      right: 0;
    }
  }
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  .shoppingCart-modal {
    .cart {
      right: -445px;
    }
  }
}

.shoppingCart-modal {
  .cart {
    transition: all 500ms ease;
  }
}

.react-responsive-modal-modal {
  border-radius: 25px;
  padding: 0;
}

.react-responsive-modal-container {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.signIn-main,
.signUp-main {
  padding: 0 40px;
  @media (max-width: 360px) {
    padding: 0 20px;
  }
}

.signIn-header,
.signUp-header {
  margin-bottom: 20px;
}

.signIn,
.signUp {
  background: #fff;
  padding: 10px 0;
}

.signIn-title,
.signUp-title {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  position: relative;
  padding-bottom: 20px;
  color: #000;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f05454;
  }
}

.signIn-through-title,
.signUp-through-title {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.signIn-fields,
.signUp-fields {
  margin-bottom: 30px;
}

.signIn-field,
.signUp-field {
  position: relative;
  margin-bottom: 20px;
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
  input {
    padding: 15px 15px 15px 50px;
    width: 100%;
    height: 56px;
    background: #d8d1d1;
    border-radius: 32px;
    font-family: SourceSansPro;
    font-weight: 400;
    font-size: 18px;
  }
}

.google-and-vk {
  text-align: center;
  svg {
    cursor: pointer;
  }
  svg:first-child {
    margin-right: 15px;
  }
  margin-bottom: 15px;
}
