.default-btn {
  border: 2px solid #f05454;
  padding: 11px 63px;
  color: #fcf1f1;
  font-weight: 400;
  font-size: 18px;
}

.start-buy-btn {
  &:hover {
    box-shadow: 0 0 10px 0 #f05454 inset, 0 0 20px 2px #f05454;
    border-color: #f05454;
  }
  transition: all 0.2s;
  padding: 12px 50px !important;
}

.signIn-btn {
  background: #000000;
  border: none !important;
  font-size: 18px;
  font-weight: 400;
  font-family: SourceSansPro;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  width: 70%;
}

.signUp-btn {
  background: #000000;
  border: none !important;
  font-size: 18px;
  font-weight: 400;
  font-family: SourceSansPro;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  color: #fcf1f1;
}

.password-recovery-btn {
  background: #000000;
  border: none !important;
  font-size: 18px;
  font-weight: 400;
  font-family: SourceSansPro;
  border-radius: 30px;
  padding: 10px 15px !important;
  width: 201px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 360px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.cart-btn {
  padding: 14px 60px;
  background: #1e1c1d;
  border-radius: 50px;
  color: #fcf1f1;
  font-size: 20px;
  font-weight: 400;
  border: none;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.burger-btn {
  width: 45px;
  display: none;
  margin-left: 30px;
  @media (max-width: 768px) {
    display: block;
  }
  span {
    height: 2px;
    width: 100%;
    display: block;
    background: #f1f1f1;
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.ask-question-btn {
  border: 2px solid #f1f1f1;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.2s;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0 0 10px 0 #f1f1f1 inset, 0 0 20px 2px #f1f1f1;
  }
}

.goods-item-name-btn {
  border-radius: 30px;
  text-align: center;
  background: #fff;
  padding: 14px 20px;
  font-size: 18px;
  transition: all 0.4s;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.product-item-add-to-cart-btn {
  background: #fff;
  font-family: SourceSansPro;
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 14px 40px;
  margin-right: 45px;
  width: 270px;
  height: 48px;
  justify-content: center;
  span {
    margin-right: 12px;
  }
}

.fill-profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: #000;
  color: #fff;
  padding: 10px 30px;
  max-width: 280px;
  width: 100%;
  svg {
    path {
      fill: #fff;
    }
    margin: 5px 0 0 10px;
  }
  margin-bottom: 20px;
}

.continue-buying-btn {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px 30px;
  max-width: 280px;
  width: 100%;
}

.account-logout {
  background: #000;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  font-family: SourceSansPro;
  font-size: 18px;
  width: 100%;
}

.save-account-settings-btn {
  background: #000;
  color: #fff;
  font-family: SourceSansPro;
  font-size: 18px;
  border-radius: 30px;
  padding: 8px 20px;
  margin-bottom: 40px;
}

.continue-ordering-btn {
  font-family: SourceSansPro;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: #000;
  color: #fff;
  padding: 10px 30px;
  max-width: 240px;
  width: 100%;
  font-size: 18px;
  svg {
    path {
      fill: #fff;
    }
    margin: 5px 0 0 10px;
  }
  margin-bottom: 20px;
}
