.hits {
  background: #212121;
  padding: 40px 0;
  &-container {
    max-width: 1070px;
    padding: 0 15px;
    margin: 0px auto;
  }
  &-title {
    margin-bottom: 70px;
  }
  &-cards {
  }
  &-slider {
    position: relative;
    .swiper-slide {
      height: auto;
    }
    .swiper-wrapper {
      transition: transform 1.2s cubic-bezier(0.15, 0.6, 0.2, 1) !important ;
      align-items: stretch !important;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
      margin-bottom: 25px;
    }
    @media (max-width: 1165px) {
      .squares {
        display: none;
      }
    }
    @media (min-width: 1166px) {
      .slider-dots {
        display: none;
      }
    }
  }
}
