.squares-hits {
  @media (max-width: 1165px) {
    display: none;
  }
  .square-left {
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
  }

  .square-right {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
    z-index: 1000;
  }
}

.squares-feedback {
  @media (max-width: 980px) {
    display: none;
  }
  .square-left {
    position: absolute;
    left: -60px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1000;
  }
  .square-right {
    position: absolute;
    right: -60px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1000;
  }
}

.square-left,
.square-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fcf1f1;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
