.quantity {
  h4 {
    font-family: SourceSansPro;
    font-size: 14px;
    margin-top: 0;
    color: #636573;
    font-weight: 800;
  }
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  @media (max-width: 1050px) {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.quantity-left-btn {
  width: 45px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  height: 45px;
  svg {
    path {
      fill: #fff;
    }
  }
}

.quantity-result {
  padding: 14px;
  width: 45px;
  height: 45px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-size: 18px;
  font-family: SourceSansPro;
}

.quantity-right-btn {
  width: 45px;
  height: 45px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid #fff;
  svg {
    path {
      fill: #fff;
    }
  }
}
