.logo {
  margin-right: 20px;
  img {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 120px;
    @media (max-width: 768px) {
      width: 60px;
    }
  }
  @media (max-width: 768px) {
    order: -1;
  }
}
