.logo-in-header {
  display: block;
  max-width: 120px;
  img {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    max-width: 100%;
    @media (max-width: 768px) {
      width: 60px;
    }
  }
  @media (max-width: 768px) {
    order: -1;
  }
}

.logo-in-footer {
  img {
    width: 150px;
  }
}
