.account-title {
  text-align: center;
  font-size: 30px;
}

.account-container {
  max-width: 950px;
  padding: 0 15px;
  margin: 0px auto;
}

.account-row {
  display: flex;
}

.account-settings {
  width: 100%;
}

.changing {
  .input-group {
    width: 180px;
    margin-right: 20px;
    &:last-child {
      width: 200px;
      margin-right: 0;
    }
  }
  input.account-settings-input {
    opacity: 1;
    background: #f4f6f8;
    border-radius: 30px;
    pointer-events: initial;
    width: 100%;
  }
  .phone-group {
    input {
      opacity: 1;
      background: #f4f6f8;
      border-radius: 30px;
      pointer-events: initial;
      width: 100%;
    }
  }
}

.account-person-data {
  margin-top: 25px;
  margin-left: 100px;
}

.account-orders-list {
  li {
    margin-bottom: 20px;
    a {
      div {
        background: #f4f6f8;
        border-radius: 30px;
        padding: 15px;
        max-width: 400px;
      }
    }
    .ordertoken {
      font-family: SourceSansPro;
      font-size: 20px;
      color: #000;
    }
  }
}
