.password-recovery {
  max-width: 360px;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  padding: 20px;
  &-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 360px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &-title {
    font-weight: 600;
    font-size: 20px;
    font-family: SourceSansPro;
    margin: 10px 0;
  }
  &-descr {
    color: #5a5a5a;
    font-weight: 400;
    font-size: 16px;
    font-family: SourceSansPro;
    margin-bottom: 15px;
  }
  &-field {
    position: relative;
    margin-bottom: 20px;
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }
    input {
      padding: 15px 15px 15px 50px;
      width: 100%;
      height: 45px;
      background: #d8d1d1;
      border-radius: 32px;
      font-family: SourceSansPro;
      font-weight: 400;
      font-size: 18px;
    }
  }
  &-cancel {
    align-self: flex-end;
    border-bottom: 1px dashed #000;
    font-family: SourceSansPro;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
  }
}
