.recommendation-modal {
  max-width: 900px;
  width: 100%;
  padding: 40px;
  @media (max-width: 500px) {
    padding: 20px;
  }
  .product-size {
    ul {
      li.size-item {
        background: #f4f6f8 !important;
      }
    }
  }

  .product-item-add-to-cart-btn {
    margin-right: 0;
    @media (max-width: 1050px) {
      width: 100%;
    }
    @media (max-width: 355px) {
      span {
        margin-right: 0;
      }
      svg {
        display: none;
      }
    }
  }

  .size-and-care {
    @media (max-width: 467px) {
      button {
        &:first-child {
          margin-bottom: 15px;
        }
        margin: 0;
        width: 200px;
      }
    }
  }
}

.recommendation-image {
  margin-right: 70px;
  @media (max-width: 1050px) {
    margin-right: 0;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    @media (max-width: 1050px) {
      width: 100%;
    }
  }
}
