.header-container {
  max-width: 965px;
  margin: 0px auto;
  padding: 0 10px;
}

.header {
  position: relative;
  padding-bottom: 15px;

  @media (max-width: 768px) {
    height: 75px;
  }

  .header-top {
    .header-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 768px) {
        height: 75px;
      }
    }

    .account-and-cart {
      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      svg {
        &:hover {
          path {
            fill: rgb(170, 166, 166);
          }
        }
        path {
          transition: all 0.2s;
        }
        @media (max-width: 768px) {
          margin: 0 20px;
        }
      }
      .account-icon {
        cursor: pointer;
        margin-right: 12px;
      }
      .cart-icon {
        cursor: pointer;
      }
    }
  }

  .pink-line {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #f05454;
  }
}

.header-goods-layout {
  background: rgb(5, 5, 5);
  .pink-line {
    display: none;
  }
  .header-container {
    max-width: 1120px;
  }
}

.header-product {
  background: #111113;
}
