.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 160px;
  @media (max-width: 768px) {
    display: none;
  }
  .social-network {
    &:not(:first-child) {
      margin: 0 5px;
    }
    a {
      &:hover {
        svg {
          g {
            path {
              fill: rgb(170, 166, 166);
            }
          }
        }
      }
      svg {
        g {
          path {
            transition: all 0.2s;
          }
        }
      }
    }
  }
}
