.product-size {
  h4 {
    font-family: SourceSansPro;
    font-size: 14px;
    margin-bottom: 15px;
  }
  ul {
    margin-top: 0;
    display: flex;
    align-items: center;
    li.size-item {
      cursor: pointer;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      border-radius: 30px;
      background: #474852;
      font-family: SourceSansPro;
      font-size: 18px;
      font-weight: 400;
      &.active {
        background: #fff;
        color: #000;
      }
    }
  }
}
