.product-size {
  margin-top: 15px;
  @media (max-width: 1050px) {
    margin: 15px 0;
  }
  h4 {
    font-family: SourceSansPro;
    font-size: 14px;
    margin-bottom: 15px;
    color: #636573;
    font-weight: 800;
    margin-top: 0;
  }
  ul {
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    @media (max-width: 1050px) {
      justify-content: center;
    }
    li.size-item {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 30px;
      background: #474852;
      font-family: SourceSansPro;
      font-size: 18px;
      font-weight: 800;
      color: #797b8c;
      &:not(:last-child) {
        margin-right: 7px;
      }
      &.active {
        background: #fff;
        color: #000;
      }
    }
  }
}
