@import './assets/scss/normalize.scss';
@import './assets/scss/fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

input {
  outline: none;
  border: none;
}

.default-btn {
  border: 2px solid #f05454;
  padding: 11px 63px;
  color: #fcf1f1;
  font-weight: 400;
  font-size: 18px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 21px;
  font-family: Oswald, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './assets/scss/modals.scss';
